@model IEnumerable<Review>

@{
    ViewData["Title"] = "Index";
}



<img class="product-review-image" src="~/images/forDummies.png" />

<p>
    <a asp-action="NewReview">Create New Review</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th class="table-cell-star-image">
                Rating
            </th>
            <th>
                Review Title
            </th>
            <th>
                Review
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td class="table-cell-star-image">
                    @for (int i = 0; i < item.Rating; i++)
                    {
                        <img class="individual-star-image" src="~/images/star.png" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewText)
                </td>
            </tr>
        }
    </tbody>
</table>
