
@{
    ViewData["Title"] = "Fibonacci";
    int max = Convert.ToInt32(ViewData["max"]);
}

<h2>Fibonacci</h2>

<nav>
    <ul>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="20">20</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="50">50</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="100">100</a></li>
    </ul>
</nav>

@{
    int previousFibonacciNumber = 1;
    int temp;
    int currentFibonacciNumber = 2;
    List<int> fibonacciNumbers = new List<int>();
}

@while (previousFibonacciNumber < max)
{
    fibonacciNumbers.Add(previousFibonacciNumber);
    temp = currentFibonacciNumber;
    currentFibonacciNumber = currentFibonacciNumber + previousFibonacciNumber;
    previousFibonacciNumber = temp;
}

@for (int i = 0; i < fibonacciNumbers.Count; i++)
{
    if (i == 0)
    {
        <li style="color:#228b22"> @fibonacciNumbers[0]</li>
    }
    else if (i == fibonacciNumbers.Count - 1)
    {
        <li style="color:#b71b1b"> @fibonacciNumbers[fibonacciNumbers.Count - 1] </li>
    }
    else
    {
        <li> @fibonacciNumbers[i]</li>
    }
}